.wrapper {
  background: linear-gradient(to bottom, #009688 100px, #dbdbd3 100px);
  padding: 20px 0;
}

/****************************
* side menu section 
*****************************/
aside {
  width: 400px;
  height: 100%;
  background-color: white;
}

/* user section */
.user {
  height: 80px;
  background-color: #eaeaea;
}

.user_icons,
.icons_active_contact {
  font-size: 1.7rem;
  color: #b1b1b1;
}
.user_icons i,
.icons_active_contact i {
  margin-right: 1.2rem;
}

/* notification setup */
.notification {
  height: 100px;
  background-color: #8edafc;
}
.notification i {
  font-size: 1.5rem;
  color: #8edafc;
}

.bell {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* search section */
.search {
  height: 50px;
  background-color: #fafafa;
}
.search .input-group-text {
  background-color: white;
  border-right: none;
  border: 1px solid #f5f5f5;
}
.search input {
  border-left: none;
}
.search .form-control {
  border: 1px solid #f5f5f5;
  border-left: none;
}

.search i {
  color: #b1b1b1;
}

/* contacts chat list */
.contacts_chat {
  height: calc(100% - 80px - 100px - 50px);
  overflow-y: scroll;
}

.contact {
  height: 100px;
  border-top: 2px solid #fafafa;
}

.contact.active {
  background-color: #e9ebeb;
}
.contact:hover {
  cursor: pointer;
}
.contact.no_active:hover {
  background-color: rgba(144, 238, 144, 0.2);
}

.contacts_chat .last_message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

/****************************
* chat active
*****************************/
.chat {
  width: calc(100% - 400px);
}

/* contact active */
.active_contact {
  height: 80px;
  background-color: #eaeaea;
  border-left: 1px solid #d6d6d6;
}

.last_access,
.last_message {
  font-size: 0.8rem;
  color: #6b7389;
}

/* chat contact active */
.chat_contact {
  height: calc(100% - 160px);
  background-image: url("../img/mine.jpg");
  overflow-y: scroll;
}

.sent_message {
  align-items: flex-end;
}

.box_message {
  width: fit-content;
  max-width: 300px;
  border-radius: 10px;
}
.sent_message .box_message {
  background-color: #d5f9ba;
}

.received_message .box_message {
  background-color: white;
}

.date_message {
  color: #b6b9bb;
  font-size: 0.7rem;
  text-align: right;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 60px;
}

.message_menu {
  width: 200px;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 5px;
  border-radius: 5px;
  z-index: 1;
}
.message_menu div:hover {
  cursor: pointer;
}

/* type and send new message */
.new_message {
  height: 80px;
  background-color: #f3eeea;
}
.new_message i {
  font-size: 1.7rem;
  color: #6b7376;
  margin: 0 1.5rem;
}

.new_message .form-control {
  border: none;
}
